$color--success: #45DEA6;
$color--warning: #ffac30;
$color--normal: #FFD524;
$color--danger: #ff4530;
$color--background: #232A3D;
$color--background-lighter: lighten( $color--background, 10% );
$color--description:#F2EEF2;
$color--node-title:white;
$color--service-title:white;
