@import "~bulma";
@import '~/assets/styles/variables/_variables.scss';
.warning {
  color: $color--warning;
}
.success{
  color:$color--success;
}
.normal {
  color:$color--normal;
}
.danger {
  color:$color--danger;
}
.healthy {
  color:$color--healthy;
}
.unhealthy {
  color:$color--unhealthy;
}
.border--color-danger {
  border-color:$color--danger!important;
}
.border--color-warning {
  border-color:$color--warning!important;
}
.border--color-normal {
  border-color:$color--normal!important;
}
.border--color-success{
  border-color:$color--success!important;
}
.description{
  color: $color--description!important;
  font-weight:400;
}

.align-left {
  text-align: left;
}

body {
  line-height: 1.2;
}

